.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navigation {
  list-style: none;
  display: inline-flex;
  margin: 0px;
  padding: 0px;
}

.navigation a {
  text-decoration-line: none;
  margin-right: 15px;
}

.navigation-cat {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.navigation-cat a {
  text-decoration-line: none;
}
